<div id="sidebar" class="sidebar">
    <span class="sidebar-button" style="position: absolute;top:10px;"><img style="width: 55px;height: 55px;margin: 10px;" src="public/assets/profile-icon.png"><span class="sidebar-text" style="bottom: 22px;color:white">Profile</span></span>
    <span class="sidebar-button" style="position: absolute;top:105px;"><img style="width: 55px;height: 55px;margin: 10px;" src="public/assets/settings-icon.jpg"><span class="sidebar-text" style="bottom: 22px;color:white">Settings</span></span>
    <span class="sidebar-button" style="position: absolute;top:195px;"><img style="width: 55px;height: 55px;margin: 10px;" src="public/assets/favorites-icon.png"><span class="sidebar-text" style="bottom: 22px;color:white">Favorites</span></span>
    <span class="sidebar-button" style="position: absolute;top:285px;"><img style="width: 55px;height: 55px;margin: 10px;" src="public/assets/history-icon.png"><span class="sidebar-text" style="bottom: 22px;color:white">History</span></span>
    <span class="sidebar-button" style="position: absolute;top:375px;"><img style="width: 55px;height: 55px;margin: 10px;" src="public/assets/about-icon.png"><span class="sidebar-text" style="bottom: 22px;color:white">About</span></span>
    <span class="sidebar-button" style="position: absolute;bottom:10px;"><img style="width: 55px;height: 55px;margin: 10px;" src="public/assets/logout-icon.png"><span class="sidebar-text" style="bottom: 22px;color:red">Logout</span></span>
  </div>
  <script src="/public/js/sidebar.js"></script>