<div class="topnav shadow">
  <a class="navlogospot" href="/home"><img class="navlogo" src="/public/assets/Rlogo.png"></img></a>
  <a id="Orders" href="orders">Orders</a>
  <a id="Menu" href="menu">Menu</a>
</div>
<script>
  document.getElementById(`<%- activeItem %>`).classList.add("active");
</script>