<div class="topnav shadow">
    <a class="navlogospot" href="/"><img class="navlogo" src="/public/assets/Rlogo.png"></img></a>
    <a id="Order" href="rapidorder">Order</a>
    <a id="History" href="history">History</a>
</div>
<script>
    document.getElementById(`<%- activeItem %>`).classList.add("active");
</script>