/* Add a black background color to the top navigation */
.topnav {
    background-color: rgb(85, 85, 85);
    overflow: hidden;
    }

    /* Style the links inside the navigation bar */
.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 10px 30px;
    text-decoration: none;
    font-size: 30px;
    }

    /* Change the color of links on hover */
.topnav a:hover {
    background-color: rgb(0, 0, 0);
    color: white;
    }

    /* Add a color to the active/current link */
.topnav a.active {
    background-color: #ff0000;
    color: white;
    }

.topnav img.navlogo {
    padding-bottom: 0px;
    height: 54px;
    background: transparent;
    float: left;
}
.topnav a.navlogospot {
    float: center;
    padding: 0px 0px 0px 0px;
    text-align: center;
    text-decoration: none;
    font-size: 17px;
}


button {
    height: 50px;
    width: 75px;
    font-size: 30;
    background-color: red;
}

h1 {
    text-align: center;
}