/* Add a black background color to the top navigation */
.topnav {
    background-color: rgb(85, 85, 85);
    overflow: hidden;
    border-radius: 20px;
    padding: 0px;
}

    /* Style the links inside the navigation bar */
.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 10px 20px;
    text-decoration: none;
    font-size: 30px;
    border-radius: 20px;
}

    /* Change the color of links on hover */
.topnav a:hover {
    background-color: rgb(0, 0, 0);
    color: white;
}

    /* Add a color to the active/current link */
.topnav a.active {
    background-color: #ff0000;
    color: white;
}

.topnav img.navlogo {
    padding-bottom: 0px;
    padding-left: 9px;
    padding-right: 1px;
    height: 54px;
    background: transparent;
    float: left;
    border-radius: 20px;
}
.topnav a.navlogospot {
    float: center;
    padding: 0px 0px 0px 0px;
    text-align: center;
    text-decoration: none;
    font-size: 17px;
}
button {
    height: 50px;
    width: 75px;
    font-size: 30;
    background-color: red;
    border-radius: 20px;
    padding: 2px;
    border-style: solid;
    border-color:rgba(63, 42, 255, 0.671);
}
button:hover {
    background-color: rgb(179, 0, 0);
}

h1 {
    text-align: center;
    background-color: royalblue;
    border-radius: 20px;
}
#grad {
    height: 100%;
    background-image:red;
    background-image: linear-gradient(rgba(63, 42, 255, 0.671), rgba(255, 255, 255, 0.753));
}

html {
    min-height: 100%;
} 

#hlptxt {
    display: none;
    background-color: royalblue;
    border-radius: 20px;
    padding: 10px;
    overflow: hidden;
    position: absolute;
    z-index: 100;
    width:300px;
    right: 95px;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    opacity: 0.8;
    border: 1px solid black;
    margin: 5px;
}
  
td, th {
    border: 1px solid black;
    text-align: left;
    padding: 8px;
}

.selectable {
    cursor: pointer;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: -moz-none;
    -o-user-select: none;
    user-select: none;
}

tr:nth-child(even) {
    background-color: #dddddd;
}
tr:nth-child(odd) {
    background-color: #fcfcfc;
}

#bottomof {
    position: fixed;
    bottom: 0;
    left: -300px;
    width: 300px;
}

#bottomof.addedclass {
    animation-name: zoom;
    
    animation-duration: 4s;
}
@keyframes zoom {
    0%   {left:-300px;}
    100%  {left:150%;}
}

.shadow {
    box-shadow: 5px 5px rgb(0, 0, 0);
}

.bubbleheader {
    border-radius: 20px;
    padding: 10px;
    box-shadow: 5px 5px rgb(41, 58, 136);
}

.content {
    margin: 20px;
    margin-left: 95px;
    padding: 10px;
}

.sidebar {
    height: 100%;
    width: 75px;
    position: fixed;
    left: 0px;
    top: 0px;
    background-color: rgb(17, 17, 17);
    z-index: 3;
    transition: 0.75s;
    transition-timing-function: ease;
    transition-delay: 100ms;
}

.sidebar:hover {
    width: 300px;
}

.overlay {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 2;
    pointer-events: none;
}