<!DOCTYPE html>
<html>
  <head>
    <%- include(HOSTPATH + '/views/partials/_head') %>
  </head>
  <body>
    <%- include(HOSTPATH + '/views/partials/_staff-sidebar') %>
    <div id="content" class="content">
      <%- include(HOSTPATH + '/views/partials/_staff-topnav', {activeItem: "Orders"}) %>
      <br> 
      <p>Welcome, lunch staff. Select the delete button next to each order to remove it from the database. It may take a few seconds to go into effect.</p>
      <h1>Orders:</h1>
        <% if (orders.length > 0) { %>
          <% orders.forEach(order => { %>
            <h3 class="order-unformatted" id="orderBodies"><%= JSON.stringify(order) %></h3>
          <% }) %>
        <% } else { %>
          <p>There are no orders to display...</p>
        <% } %>
        <div id="formattedOrders"></div>
        <!--<button type="button" onclick="formatOrders();">GetOrders</button>-->
    </div>
    <script>
      formatOrders();
    </script>
  </body>