<!DOCTYPE html>
<html>
  <head>
    <%- include(HOSTPATH + '/views/partials/_head.ejs') %>
  </head>
  <body id="grad">
    <%- include(HOSTPATH + '/views/partials/_sidebar') %>
    <div id="content" class="content">
      <%- include(HOSTPATH + '/views/partials/_topnav', {activeItem: ""}) %>
      <h1 class="bubbleheader">Rapid Login</h1>
      <%- include (HOSTPATH + '/views/partials/messages') %>
      <p>Login to an account below</p>
      <form action="/profile/login" method="POST">
      <div>
      <label for="email">Email</label>
      <input
      type="email"
      name="email"
      placeholder="Enter Email"
      />
      </div>
      <div>
          <label for="password">Password</label>
          <input
            type="password"
            name="password"
            placeholder="Enter Password"
          />
        
      </div>
      <button type="submit" class="btn btn-primary btn-block">Login</button>
        
      </form>
    </div> <!--Content div close-->
  </body>
</html>
