<!DOCTYPE html>
<html>
  <head>
    <%- include(HOSTPATH + '/views/partials/_head.ejs') %>
  </head>
  <body id="grad">
    <%- include(HOSTPATH + '/views/partials/_sidebar') %>
    <div id="content" class="content">
      <%- include(HOSTPATH + '/views/partials/_topnav', {activeItem: ""}) %>

      <h1 class="bubbleheader">Rapid Profile</h1>
      <% if (authStatus == true) { %>
        <h3> You are logged in as <%= user.name %>! </h3>
        <% if (user.active === false) { %>
          <h3> Your account is not yet activated. </h3>
        <% } %>
        <button onclick="window.location.href='/logout';">Logout</button>
        <% } else {%>
            <h3> You are not logged in. </h3>
            <p>Create an account or login</p>
            <button onclick="window.location.href='/profile/register';">Register</button>
            <button onclick="window.location.href='/profile/login';"> Login</a>
          <% } %> 
      <!--display authentication status-->
    </div> <!--Content div close-->
  </body>
</html>