<!DOCTYPE html>
<html>
  <head>
    <%- include('../partials/_head') %>
    <link rel="stylesheet" href="public/assets/indexstyle.css">
  </head>
  <body id="grad">
    <div id="sidebar" class="sidebar">
      <span style="position: absolute;top:10px;"><img style="width: 55px;height: 55px;margin: 10px;" src="public/assets/profile-icon.png"><span class="sidebar-text" style="bottom: 22px;color:white"><b>Profile</b></span></span>
      <span style="position: absolute;top:105px;"><img style="width: 55px;height: 55px;margin: 10px;" src="public/assets/settings-icon.jpg"><span class="sidebar-text" style="bottom: 22px;color:white"><b>Settings</b></span></span>
      <span style="position: absolute;top:195px;"><img style="width: 55px;height: 55px;margin: 10px;" src="public/assets/favorites-icon.png"><span class="sidebar-text" style="bottom: 22px;color:white"><b>Favorites</b></span></span>
      <span style="position: absolute;top:285px;"><img style="width: 55px;height: 55px;margin: 10px;" src="public/assets/history-icon.png"><span class="sidebar-text" style="bottom: 22px;color:white"><b>History</b></span></span>
      <span style="position: absolute;top:375px;"><img style="width: 55px;height: 55px;margin: 10px;" src="public/assets/about-icon.png"><span class="sidebar-text" style="bottom: 22px;color:white"><b>About</b></span></span>
      <span style="position: absolute;bottom:10px;"><img style="width: 55px;height: 55px;margin: 10px;" src="public/assets/logout-icon.png"><span class="sidebar-text" style="bottom: 22px;color:red"><b>Logout</b></span></span>
    </div>
    <div id="content" class="content">
      <div class="topnav shadow">
        <a class="navlogospot" href="/home"><img class="navlogo" src="/public/assets/Rlogo.png"></img></a>
        <a href="rapidpoll">Poll</a>
        <a href="rapidorder">Order</a>
        <a href="info">Info</a>
      </div>
  
      <h1 class="bubbleheader">History</h1>
      <div id="historyDiv" style="display: inline-block;padding: 10px;font-family: Arial, Helvetica, sans-serif;font-weight: bold;">

      </div>
    </div>
    <script>
        var orderHistory = JSON.parse(localStorage.getItem("order-history"));
        if (!orderHistory) {
            orderHistory = [{order:["Water","Cheesburger"],order_time:new Date()},{order:["Water","Cheesburger"],order_time:new Date()},{order:["Water","Cheesburger"],order_time:new Date()}];
        }
        var loopAmount = orderHistory.length;
        for (var i = 0;i < loopAmount;i++) {
            var historyItem = orderHistory[i];
            var orderFormatted = "";
            var loopAmount = orderHistory[i].order.length;
            for (var k = 0;k < loopAmount;k++) {
                orderFormatted += "<br>" + orderHistory[k].order[i];
            }
            var orderDiv = document.createElement("div");
            orderDiv.id = "history-item" + i;
            orderDiv.classList.add("history-item");
            var orderTitle = document.createElement("span");
            orderTitle.style.fontWeight = "bold";
            orderTitle.style.fontSize = "25px";
            orderTitle.innerHTML = "Order Item " + (i + 1) + " - ";
            var orderHeader = document.createElement("span");
            orderHeader.appendChild(orderTitle);
            orderHeader.style.fontSize = "22px";
            orderHeader.item = historyItem;
            orderHeader.innerHTML += historyItem.order_time.toLocaleString("en-US") + "<span class='selectable' onclick=ReorderItem(this.parentElement.item)' style='color: rgba(0, 200, 0);margin: 10px;'>Re-order</span><span class='selectable' onclick='FavoriteHistoryItem(this.parentElement.item)' style='color: rgba(250, 239, 0);'>Favorite</span><br>";
            orderDiv.appendChild(orderHeader);
            var order = document.createElement("span");
            order.style.fontSize = "18px";
            order.innerHTML = orderFormatted.replace("<br> ","");
            orderDiv.appendChild(order);
            document.getElementById("historyDiv").appendChild(orderDiv);
        }

        function Favorite(order) {

        }

        function CanReorder(order) {
          var loopAmount = order.length;
          for (var i = 0;i < loopAmount;i++) {
            if (!menuObjectCode.includes(order[i])) {
              return false;
            }
          }

          return true;
        }
    </script>
  </body>
</html>