<!DOCTYPE html>
<html>
  <head>
    <%- include('../partials/_head') %>
    <link rel="stylesheet" href="public/assets/indexstyle.css">
  </head>
  <body id="grad">
    <%- include('../partials/_sidebar') %>
    <div id="content" class="content">
      <%- include('../partials/_topnav', {activeItem: "History"}) %>
  
      <h1 class="bubbleheader">History</h1>
      <div id="historyDiv" class="default-mouse" style="display: inline-block;padding: 10px;font-family: Arial, Helvetica, sans-serif;font-weight: bold;">

      </div>
    </div>
    <script>
      Run();
      function Run() {
        document.getElementById("historyDiv").innerHTML = "";
        var orderHistory = JSON.parse(localStorage.getItem("order-history"));
        if (!orderHistory) {
          orderHistory = {0:{order:["Water","Apple Yogurt Cheeseburger"],order_time:new Date()},1:{order:["Apples","Cheeseburger"],order_time:new Date()},2:{order:["Water","Cheeseburger"],order_time:new Date()}};
        }
        var loopAmount = Object.keys(orderHistory).length;
        for (var i = 0;i < loopAmount;i++) {
          var historyItem = orderHistory[i];
          var orderFormatted = "";
          var loopAmount2 = historyItem.order.length;
          for (var k = 0;k < loopAmount2;k++) {
            orderFormatted += "<br>" + historyItem.order[k];
          }
          var orderDiv = document.createElement("div");
          orderDiv.id = "history-item" + i;
          orderDiv.classList.add("history-item");
          var orderTitle = document.createElement("span");
          orderTitle.style.fontWeight = "bold";
          orderTitle.style.fontSize = "25px";
          orderTitle.innerHTML = "History Item " + (i + 1) + " - ";
          var orderHeader = document.createElement("span");
          orderHeader.appendChild(orderTitle);
          orderHeader.style.fontSize = "22px";
          orderHeader.item = historyItem;
          var reorderColor = (CanReorderItem(historyItem.order)) ? "rgba(0, 200, 0)" : "rgba(50, 75, 50)";
          var favoritesText = (ItemInfavorites(historyItem.order)) ? "Unfavorite" : "Favorite";
          orderHeader.innerHTML += historyItem.order_time.toLocaleString("en-US") + "<span " + ((reorderColor == "rgba(0, 200, 0)") ? "class='selectable'" : "") + " onclick='ReorderItem(this.parentElement.item.order)' style='color: " + reorderColor + ";margin: 10px;'>Re-order</span><span class='selectable' onclick='FavoriteItem(this.parentElement.item.order, " + (favoritesText == "Favorite") + ")' style='color: rgba(250, 239, 0);'>" + favoritesText + "</span><br>";
          orderDiv.appendChild(orderHeader);
          var order = document.createElement("span");
          order.style.fontSize = "18px";
          order.innerHTML = orderFormatted.replace("<br> ","");
          orderDiv.appendChild(order);
          document.getElementById("historyDiv").appendChild(orderDiv);
        }
      }

      function FavoriteItem(order, favorite) {
        order = order.sort().toString().replace(/,/g,"|");
        if (favorite) {
          var favorites = localStorage.getItem("favorites");
          if (!favorites) {
            favorites = [];
          } else {
            favorites = favorites.split(",");
          }
          favorites.push(order);
        } else {
          var favorites = localStorage.getItem("favorites");
          if (!favorites) {
            favorites = [];
          } else {
            favorites = favorites.split(",");
          }
          favorites.splice(favorites.indexOf(order), 1);
        }
        localStorage.setItem("favorites", favorites);
        Run();
      }

      function ReorderItem(order) {
        const endpoint = '/rapidorder/';
        var output = [];
        var loopAmount = menuObjectCode.length;
        for (var i = 0;i < loopAmount;i++) {
          if (order.includes(menuObjectCode[i])) {
            output.push(1);
          } else {
            output.push(0);
          }
        }
      
        output = output.join('');
        window.location.href = "/rapidorder?order=" + output.replace(/0+$(?! 1)/g,"");
        Run();
      }

      function CanReorderItem(order) {
        var loopAmount = order.length;
        for (var i = 0;i < loopAmount;i++) {
          if (!menuObjectCode.includes(order[i])) {
            return false;
          }
        }

        return true;
      }

      function ItemInfavorites(order) {
        order = order.sort().toString().replace(/,/g,"|");
        var favorites = localStorage.getItem("favorites");
        if (!favorites) {
          favorites = [];
        } else {
          favorites = favorites.split(",");
        }
        var loopAmount = order.length;
        if (favorites.includes(order)) {
          return true;
        }

        return false;
      }
    </script>
  </body>
</html>