<!DOCTYPE html>
<html>
  <head>
    <%- include('../partials/_head') %>
  </head>
  <body id="grad">
    <div class="topnav">
        <a class="navlogospot" href="/home"><img class="navlogo" src="/public/assets/Rlogo.png"></img></a>
        <a href="rapidpoll">Poll</a>
        <a href="rapidorder">Order</a>
        <a href="info">Info</a>
      </div>

  <h1>Welcome to Rapid Serve!</h1>
  <p>Rapid Serve is your solution for lunch. <br>Get <em>your</em> lunch faster.</p>
  <img src="public/assets/hcpss.png" style="display: block; margin-left: auto;margin-right: auto;width: 30%;" />
  
  <ul>
    <li>Rapid Order - Order lunch online, and pick it up in the cafeteria</li>
    <li>Rapid Poll - Submit a selection of your favorite lunch, <br> this information is used to serve premade lunches.</li>
  </ul>
  </body>
</html>