<!DOCTYPE html>
<html>
  <head>
    <base target="_top">
    <link rel="stylesheet" href="/workspace/rapidservehtml/public/css/style.css">
    <script src="myebsite.js"></script>
  </head>
  <body>
    <div class="topnav">
        <a class="navlogospot" href="index.ejs"><img class="navlogo" src="Rlogo.png"></img></a>
        <a href="rapidpoll.ejs">Poll</a>
        <a href="rapidorder.ejs">Order</a>
        <a href="info.ejs">Info</a>
      </div>

  <h1>Welcome to Rapid Serve!</h1>
  <p>Rapid Serve is your solution for lunch. <br>Get <em>your</em> lunch faster.</p>
  </body>
</html>
