<!DOCTYPE html>
<html>
  <head>
    <%- include('../partials/_head') %>
    <link rel="stylesheet" href="public/assets/indexstyle.css">
  </head>
  <body id="grad">
    <%- include('../partials/_sidebar') %>
    <div id="content" class="content">
      <div class="topnav shadow">
        <a class="navlogospot" href="/home"><img class="navlogo" src="/public/assets/Rlogo.png"></img></a>
        <a href="rapidpoll">Poll</a>
        <a href="rapidorder">Order</a>
        <a href="info">Info</a>
      </div>
  
      <h1 class="bubbleheader">Welcome to Rapid Serve!</h1>
      <p id="ind002" class="bubble">Rapid Serve is your solution for lunch. <br>Get <em>your</em> lunch faster.</p>
      <img src="public/assets/hcpss.png" style="display: block; margin-left: auto;margin-right: auto;width: 30%;" />
      <div class="bubble" style="width: 35%;">
        <ul>
          <li>Rapid Order - Order lunch online, and pick it up in the cafeteria</li>
          <li>Rapid Poll - Submit a selection of your favorite lunch, <br> this information is used to serve premade lunches.</li>
        </ul>
      </div>
    </div>
  </body>
</html>