<!DOCTYPE html>
<html>
  <head>
    <%- include('../partials/_head') %>
  </head>
  <body>
    <div class="topnav">
        <a class="navlogospot" href="/home"><img class="navlogo" src="/public/assets/Rlogo.png"></img></a>
        <a href="rapidpoll">Poll</a>
        <a href="rapidorder">Order</a>
        <a href="info">Info</a>
      </div>

  <h1>Welcome to Rapid Serve!</h1>
  <p>Rapid Serve is your solution for lunch. <br>Get <em>your</em> lunch faster.</p>
  </body>
</html>
