<!DOCTYPE html>
<html>
  <head>
    <base target="_top">
    <link rel="stylesheet" href="/workspace/rapidservehtml/public/css/style.css">
  </head>
  <body>
    <div class="topnav">
        <a class="navlogospot" href="index.ejs"><img class="navlogo" src="Rlogo.png"></img></a>
        <a href="rapidpoll.ejs">Poll</a>
        <a href="rapidorder.ejs">Order</a>
        <a class="active" href="info.ejs">Info</a>
      </div>
      <h1>Info</h1>
      <p>Cedric Hotopp and Matthew Edelen are the creators of this website. They created the website </p>
  </body>
</html>
