<!DOCTYPE html>
<html>
  <head>
    <%- include('../partials/_head') %>
  </head>
  <body>
    <div class="topnav">
        <a class="navlogospot" href="/"><img class="navlogo" src="/public/assets/Rlogo.png"></img></a>
        <a href="rapidpoll">Poll</a>
        <a href="rapidorder">Order</a>
        <a class="active" href="info">Info</a>
      </div>
      <h1>Info</h1>
      <p>
        Cedric Hotopp and Matthew Edelen are the creators of this website. 
        They created the website with Gitpod.io, Github.com, and NodeJS.
        Most of the client-side content that you see was created by Matthew,
        while most of the (more difficult) server-side programming was done by Cedric.
        Thanks to
        <ul> 
        <li>Mr. Rattay and his support</li>
        <li>Mrs. Bernard for giving us time to work on the website in class</li>
        <li>The whole of the programming community for indirect help on a variety of issues.</li>
        </ul>
      </p>
  </body>
</html>
