<!DOCTYPE html>
<html>
  <head>
    <%- include('../partials/_head') %>
  </head>
  <body>
    <div class="topnav">
        <a class="navlogospot" href="index"><img class="navlogo" src="/public/assets/Rlogo.png"></img></a>
        <a href="rapidpoll">Poll</a>
        <a href="rapidorder">Order</a>
        <a class="active" href="info">Info</a>
      </div>
      <h1>Info</h1>
      <p>Cedric Hotopp and Matthew Edelen are the creators of this website. They created the website </p>
  </body>
</html>
