<!DOCTYPE html>
<html>
  <head>
    <%- include('../partials/_head') %>
  </head>
  <body id="grad">
    <%- include('../partials/_sidebar') %>
    <div id="content" class="content">
      <%- include('../partials/_topnav', {activeItem: ""}) %>

      <h1 class="bubbleheader">Rapid Profile</h1>
      <p>Enter your login information, then click "Sign in" to log in to your account.</p>
      
    </div> <!--Content div close-->
  </body>
</html>
