<!DOCTYPE html>
<html>
  <head>
    <%- include('../partials/_head') %>
  </head>
  <body onload="updateContent()" id="grad">
    <div class="topnav shadow">
        <a class="navlogospot" href="/"><img class="navlogo" src="/public/assets/Rlogo.png"></img></a>
        <a href="rapidpoll">Poll</a>
        <a class="active" href="rapidorder">Order</a>
        <a href="info">Info</a>
      </div>

      <h1 class="bubbleheader">Rapid Order</h1>

      <p>Input your order, then click "Place Order."</p>
      <button style="float: right;" onclick="toghlp()">Help</button>
      <p id="hlptxt" style="display: none;">
        Select items that you would like to order by clicking on them or tapping them.
        When a box is next to the selection, you can choose multiple items.
        If you want to change your selection, click or tap on the item that you currently have selected.
        Then, click or tap on your new item.
        When you are satisfied with your selections, click on or tap the "Place Order" button.

        If you still need help, contact us or tell your teacher.
      </p>

      <div id=orderstuff>
        <!-- <form action="/rapidorder" method="POST">
          <label for="body">orderBody</label>
          <textarea id="body" name="orderBody" required></textarea>
          <button>Submit</button>
        </form> -->
        
        
       <table id="ordertable">
          <tr id=headerrow>
            <th>Main Course</th>
            <th>Side</th>
            <th>Drink</th>
          </tr>
          <tr id=#dddddd>
            <td onclick="changebg(this)">Chicken Sandwich</td>
            <td onclick="changebg(this)">Apples</td>
            <td onclick="changebg(this)">Milk</td>
          </tr>
          <tr id=row1>
            <td onclick="changebg(this)">Cheeseburger</td>
            <td onclick="changebg(this)">Lettuce</td>
            <td onclick="changebg(this)">Apple Juice</td>
          </tr>
        </table>
        <button id='submitButton' style="float: right;">Place Order</button>
      </div> 
      <script>
        const submitButton = document.getElementById('submitButton');

        submitButton.addEventListener('click', (e) => {
          const endpoint = '/rapidorder';
          var orderBody = {orderBody: "Blah!!!"};

          var table = document.getElementById("ordertable");
          
          var output = [];//CEDRIC starts here
          for (var i = 1, row; row = table.rows[i]; i++) {
            output.push([])
            //console.log(i);
            for (var j = 0, col; col = row.cells[j]; j++) {
              var BG = window.getComputedStyle(table.rows[i].cells[j]).backgroundColor
              //console.log(j);
              output[i-1].push(BG);
            } 
          }
          console.log(output);
          for (var i = 0, rows; rows = output[i]; i++) {
            for (var j = 0, cellbg; cellbg = output[i][j]; j++)
              console.log(output[i][j]);
          } //CEDRIC this is stuff i did. feel free to comment it out.
          //alert(JSON.stringify(orderBody));

          var formatted = [];
          for (var property in orderBody) {
            var encodedKey = encodeURIComponent(property);
            var encodedValue = encodeURIComponent(orderBody[property]);
            formatted.push(encodedKey + "=" + encodedValue);
          }
          formatted = formatted.join("&");

          fetch(endpoint, {
            method: 'POST',
            headers: {
              //'Content-Type': 'application/json'
              'Content-Type': 'application/x-www-form-urlencoded',
            },
            body: formatted
          }).then((result) => {console.log(result)})
          .catch((err) => {alert(err)})
        });
      </script>
      <image src="/public/assets/Rlogo.png" id="bottomof"></image>
  </body>
</html>