<!DOCTYPE html>
<html>
  <head>
    <base target="_top">
    <link rel="stylesheet" href="/workspace/rapidservehtml/public/css/style.css">
    <script src="mywebsite.js"></script>
  </head>
  <body>
    <div class="topnav">
        <a class="navlogospot" href="index.ejs"><img class="navlogo" src="Rlogo.png"></img></a>
        <a class="active" href="rapidpoll.ejs">Poll</a>
        <a href="rapidorder.ejs">Order</a>
        <a href="info.ejs">Info</a>
      </div>

      <h1>Rapid Poll</h1>
      <p>Input your favorite order, then click "Place Order."</p>
      <button style="float: right;" onclick="toghlp()">Help</button>
      <p id="hlptxt" style="display: none;">
        Select items that you would like to order by clicking on them or tapping them.
        When a box is next to the selection, you can choose multiple items.
        If you want to change your selection, click or tap on the item that you currently have selected.
        Then, click or tap on your new item.
        When you are satisfied with your selections, click on or tap the "Place Order" button.

        If you still need help, contact us or tell your teacher.
      </p>
  </body>
</html>
