<!DOCTYPE html>
<html>
  <head>
    <%- include('../partials/_head') %>
  </head>
  <body id="grad" onload="getMenu()">
    <div class="topnav">
        <a class="navlogospot" href="/"><img class="navlogo" src="/public/assets/Rlogo.png"></img></a>
        <a class="active" href="rapidpoll">Poll</a>
        <a href="rapidorder">Order</a>
        <a href="info">Info</a>
      </div>

      <h1 class="bubbleheader">Rapid Poll</h1>
      <p>Input your favorite order, then click "Place Order."</p>
      <button style="float: right;" onclick="toghlp()">Help</button>
      <div  id="hlptxt" class="bubbleheader">
        <h2 style="text-align: center;">Help</h2>
        <p>
          Select items that you would like to order by clicking on them or tapping them.
          When a box is next to the selection, you can choose multiple items.
          If you want to change your selection, click or tap on the item that you currently have selected.
          Then, click or tap on your new item.
          When you are satisfied with your selections, click on or tap the "Place Order" button.
  
          If you still need help, contact us or tell your teacher.
        </p>
      </div>
      <div id=orderstuff>
        <p>I Am Order Stuffs!!!<br>Blahblah<br>mIlK aNd ChEeSe</p>
        <button style="float: right;" onclick="plcordr(); placeOrder();">Place Order</button>
      </div> 
  </body>
</html>
