<!DOCTYPE html>
<html>
  <head>
    <%- include('../partials/_head') %>
  </head>
  <body onload="updateContent()" id="grad">
    <div class="topnav shadow">
        <a class="navlogospot" href="/"><img class="navlogo" src="/public/assets/Rlogo.png"></img></a>
        <a href="rapidpoll">Poll</a>
        <a class="active" href="rapidorder">Order</a>
        <a href="info">Info</a>
      </div>

      <h1 class="bubbleheader">Rapid Order</h1>

      <p>Input your order, then click "Place Order."</p>
      <button style="float: right;" onclick="toghlp()">Help</button>
      <p id="hlptxt" style="display: none;">
        Select items that you would like to order by clicking on them or tapping them.
        When a box is next to the selection, you can choose multiple items.
        If you want to change your selection, click or tap on the item that you currently have selected.
        Then, click or tap on your new item.
        When you are satisfied with your selections, click on or tap the "Place Order" button.

        If you still need help, contact us or tell your teacher.
      </p>

      <div id=orderstuff>
        <form action="/rapidorder" method="POST">
          <label for="body">Orderbody:</label>
          <textarea id="body" name="body" required></textarea>
          <button>Submit</button>
        </form>
        
        
        <!--<table>
          <tr id=headerrow>
            <th>Main Course</th>
            <th>Side</th>
            <th>Drink</th>
          </tr>
          <tr id=#dddddd>
            <td onclick="changebg(this)">Chicken Sandwich</td>
            <td onclick="changebg(this)">Apples</td>
            <td onclick="changebg(this)">Milk</td>
          </tr>
          <tr id=row1>
            <td onclick="changebg(this)">Cheeseburger</td>
            <td onclick="changebg(this)">Lettuce</td>
            <td onclick="changebg(this)">Apple Juice</td>
          </tr>
        </table>
        <!-- <button style="float: right;" onclick="ReadPHP()">Read Order</button> -->
        <!--<button style="float: right;" onclick="plcordr(); placeOrder()">Place Order</button>-->
      </div> 
      <image src="/public/assets/Rlogo.png" id="bottomof"></image>
  </body>
</html>