<!DOCTYPE html>
<html>
  <head>
    <%- include('../partials/_head') %>
  </head>
  <body>
    <div id="sidebar" class="sidebar">
      <span style="position: absolute;top:10px;"><img style="width: 55px;height: 55px;margin: 10px;" src="public/assets/profile-icon.png"><span class="sidebar-text" style="bottom: 22px;color:white"><b>Profile</b></span></span>
      <span style="position: absolute;top:105px;"><img style="width: 55px;height: 55px;margin: 10px;" src="public/assets/settings-icon.jpg"><span class="sidebar-text" style="bottom: 22px;color:white"><b>Settings</b></span></span>
      <span style="position: absolute;top:195px;"><img style="width: 55px;height: 55px;margin: 10px;" src="public/assets/favorites-icon.png"><span class="sidebar-text" style="bottom: 22px;color:white"><b>Favorites</b></span></span>
      <span style="position: absolute;top:285px;"><img style="width: 55px;height: 55px;margin: 10px;" src="public/assets/history-icon.png"><span class="sidebar-text" style="bottom: 22px;color:white"><b>History</b></span></span>
      <span style="position: absolute;top:375px;"><img style="width: 55px;height: 55px;margin: 10px;" src="public/assets/about-icon.png"><span class="sidebar-text" style="bottom: 22px;color:white"><b>About</b></span></span>
      <span style="position: absolute;bottom:10px;"><img style="width: 55px;height: 55px;margin: 10px;" src="public/assets/logout-icon.png"><span class="sidebar-text" style="bottom: 22px;color:red"><b>Logout</b></span></span>
    </div>
    <div id="content" class="content">
      <div class="topnav shadow">
        <a class="navlogospot" href="/home"><img class="navlogo" src="/public/assets/Rlogo.png"></img></a>
        <a class="active" href="staff-orders">Orders</a>
        <a href="staff-menu">Menu</a>
      </div>
      <br> 
      <p>Welcome, lunch staff. Edit the menu with the button below.</p>
      <button onclick="editMenu()">Edit Menu</button>
      <h1>Orders:</h1>
        <% if (orders.length > 0) { %>
          <% orders.forEach(order => { %>
            <h3 class="order-unformatted" id="orderBodies"><%= JSON.stringify(order) %></h3>
          <% }) %>
        <% } else { %>
          <p>There are no orders to display...</p>
        <% } %>
        <div id="formattedOrders"></div>
        <!--<button type="button" onclick="formatOrders();">GetOrders</button>-->
    </div>
    <script>
      formatOrders();
    </script>
  </body>