<!DOCTYPE html>
<html>
  <head>
    <%- include('../partials/_head') %>
  </head>
  <body>
      <a href="/"><p>Home</p></a>
      <br> 
      <p>Welcome, lunch staff. Edit the menu with the button below.</p>
      <button onclick="editMenu()">Edit Menu</button>
  </body>