<!DOCTYPE html>
<html>
  <head>
    <%- include('../partials/_head') %>
  </head>
  <body>
    <%- include('../partials/_staff-sidebar') %>
    <div id="content" class="content">
      <div class="topnav shadow">
        <a class="navlogospot" href="/home"><img class="navlogo" src="/public/assets/Rlogo.png"></img></a>
        <a class="active" href="orders">Orders</a>
        <a href="menu">Menu</a>
      </div>
      <br> 
      <p>Welcome, lunch staff. Edit the menu with the button below. Select the delete button next to each order to remove it from the database. It may take a few seconds to go into effect.</p>
      <button onclick="editMenu()">Edit Menu</button>
      <h1>Orders:</h1>
        <% if (orders.length > 0) { %>
          <% orders.forEach(order => { %>
            <h3 class="order-unformatted" id="orderBodies"><%= JSON.stringify(order) %></h3>
          <% }) %>
        <% } else { %>
          <p>There are no orders to display...</p>
        <% } %>
        <div id="formattedOrders"></div>
        <!--<button type="button" onclick="formatOrders();">GetOrders</button>-->
    </div>
    <script>
      formatOrders();
    </script>
  </body>